/* Color index
    -#B4182D red
    -#000000 black
    -#c4c4c4c
    -#F6F9FC


*/

/* General styles */
::selection {
    background: #c4c4c4;
  }

.container {
    margin: auto;
}

/* Navbar */
.navbar {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 50px 0;
}

.toolbar {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}   

.logo {
    width: 180px;

}

.contact {
    font-weight: 500;
    font-size: 18px;
    color: #B4182D;

}

.contact:hover {
    /* color: black; */
    
}
/* Hero */

.hero__container {
    margin: auto;
    margin-bottom: 20px;
}

.hero__modal {
    z-index: 10;
    border-radius: 8px;
    position: absolute;
    background-color: white;
    padding: 20px;
    width: 40%;
    min-width: 450px;
    left: -50%;
    right: -50%;
    top: 25%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contactBtn {
    display: flex;
    justify-content: center;
    background: #B4182D;
    padding: 18px 42px;
    margin: auto;
    border: 2px solid #B4182D;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border-radius: 3px;
}

.contactBtn:hover {
    /* color: black; */
    border: 2px solid #B4182D;
    background: inherit;
    transition-delay: 100ms;
    color: #B4182D;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

}
.gallery {
    margin: auto
}

.gallery__item {
    width: 100%;
    max-width: 2400px;
    height: auto;
}

/* client imgs */

.client__parent {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding: 40px 0;
}


.client__child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.client__card {

}

.client__img {
    height: 105px;
    width: auto;
}

/* Sliders */

.slide__container {
    margin: 40px auto;
    width: 60%;
}

.slide__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.slide__div__inverted {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}
.slide__img {
    width: 420px;
    height: auto;
    border-radius: 8px;
}

.slide__content {
    width: 50%;
}

.slide__title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}

.slide__text {
    
}

/* Recent pictures */

/* footer */

.footerDiv {
    display: flex;
    margin: auto;
    width: 60%;
    font-size: 14px;
    max-width: 1200px;
    padding: 10px 0;
    color: #c4c4c4;
    justify-content: space-between;
    flex-direction: column;
}

.trademark {
    color: grey;
    display: flex;
    justify-content: center;
}

.dividerRoundel {
    width: 6px;
    height: 6px;
    margin: 0 8px;
    background-color: #c4c4c4;
    border-radius: 50%;

}

.email {
    color: grey
}

@media (max-width: 1600px){

}

@media (max-width: 780px){
    .gallery__item {
       display: none;
    }
}

