/* Navbar */
.navbar {
    width: 100%;
    max-width: "1200px";
}

.toolbar {
    width: "80%";
    display: "flex";
    justify-content: space-between;
}   

.logo {

}

.contact {

}

/* Hero */

.hero__container {

}

/* Sliders */

/* Recent pictures */


@media (min-width: 768px){
  
}